#backgroundBar {
    width: 40%;
    background-color: #ddd;
    background: linear-gradient(90deg, rgba(105,5,255,1) 0%, rgba(22,252,0,1) 25%, rgba(175,255,7,1) 50%, rgba(245,255,0,1) 75%, rgba(255,0,0,1) 100%);
    border-radius: 5px;
  }
  
  #progressBar {
    width: 1%;
    height: 10px;
    background-color: #003f5c;
    border-radius: 5px;
    margin-left: 3px;
 
    background-color: black;
    display: inline-block;

  }